<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="with-bg">
  <ion-card *ngFor="let account of accounts">
    <ion-card-header>
      <ion-card-subtitle>{{account.AccountType}} {{account.AccountSubType}} - {{account.Nickname}}</ion-card-subtitle>
      <ion-card-title>{{account.Account.Name}}</ion-card-title>
      <ion-card-subtitle>n°: {{account.Account.Identification}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content align="right">
      <div><h1><b>{{ getAccountBalance(account.AccountId) }}</b> {{account.Currency}}</h1></div>
      <br/>
      <ion-button color="primary" slot="end" size="small" router-direction="root" href="/accounts/{{account.AccountId}}">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
